:root {
  --primary: #3498db;
  --primary2: #db3434;
  --gray1: #7f8c8d;
  --gray2: #ecf0f1;
  --font-family: "Poppins", sans-serif;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow-nav: 0 2px 4px rgba(0, 0, 0, 0.2);
  --text-color: #444;
}
